<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car</title>
</head>
<body>
<div>
    <h1 th:text="${car.brand} + ' ' + ${car.type}" ></h1>
    <h3 th:text="évjárat + ': ' + ${car.vintage}" ></h3>
</div>
</body>
</html>