<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">Title</title>
</head>
<body>
    <div th:each="car: ${cars}">
        <h1 th:text="${car.brand} + ' ' + ${car.type}" ></h1>
        <h3 th:text="évjárat + ': ' + ${car.vintage}" ></h3>
        <h3 th:text="tulajdonos + ': ' + ${car.owner.lastName} + ' ' + ${car.owner.firstName}" ></h3>
        <p th:text="'tulajdonos  életkora: ' + ${car.owner.age}" ></p>
    </div>

</body>
</html>